@model PagedList.IPagedList<K2.Core.ViewModel.Post.PostListViewModel.PostListItemViewModel>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
        </td>
    </tr>
}*@
@foreach (var post in Model)
{
    @*<p>@example.Title: @example.CommentCount</p>*@
    <h2>@Html.ActionLink(post.Title, "Details", new {id = @post.ItemId})</h2>
    @:<article>
    <p>@post.CommentCount</p>
    @:</article>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
